html,
body {
  %vertical-rhythm {
    margin-bottom: 1em;
  }
}

body > div {
  display: block;
  margin: auto;
  padding: 1em;
  max-width: $max-width;
}

sup {
  vertical-align: top;
  font-size: 0.7em;
}

.footnotes {
  margin-top: 2em;
  font-size: 85%;
}

.center-container {
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
