<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
  <meta property="og:url" content="{{ base_url }}{{ page.url }}">

  <!-- For saving page to mobile device -->
  <link rel="manifest" href="{{ site.baseurl }}/assets/manifest.json" />

  <!-- Viewport disables mobile zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Custom Sass -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon/favicon-16x16.png" />
</head>

<body>
  <div>
    {{ content }}
  </div>
</body>

</html>
